---
import { getInvestors } from '../storyblok'
import Layout from '../layouts/default.astro'
import { Image } from '@astrojs/image/components'
import { getBase64ImageUrl } from '../image/blurDataURL'

const coverImage = 'https://a.storyblok.com/f/191355/2560x1600/5217c62ad1/cover-image.jpg'

const blurDataURL2 = (await getBase64ImageUrl(0, 0, coverImage, 100)).data
const blurDataURL = (await getBase64ImageUrl(0, 0, 'https://a.storyblok.com/f/191355/1360x1687/ce97e2037e/gaurav_edit_2.jpg')).data
const investors = (await getInvestors()).map((i) => ({ ...i.content }))

const promises = []
investors.forEach((i, _) => {
  promises.push(getBase64ImageUrl(_, 0, i.Image.filename))
})
const res = await Promise.all(promises)
res.forEach((i) => {
  investors[i.x] = {
    ...investors[i.x],
    blurDataURL: i.data,
    originalURL: investors[i.x].Image.filename,
  }
})
---

<Layout>
  <div class="relative py-24 sm:py-48 w-full flex flex-col items-center">
    <Image
      alt="Work"
      fit="cover"
      id="preload"
      loading="eager"
      decoding="async"
      src={coverImage}
      position="center"
      width={coverImage.split('/')[5].split('x')[0]}
      height={coverImage.split('/')[5].split('x')[1]}
      class="z-[-2] absolute top-0 left-0 w-full h-full object-cover"
      style={`background-image: url(${blurDataURL2}); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;`}
    />
    <div class="z-[-1] absolute top-0 left-0 w-full h-full bg-black opacity-75"></div>
    <span class="mt-8 text-center text-2xl text-gray-100/75">Welcome To</span>
    <h1 class="font-extrabold mt-3 sm:mt-5 text-center text-4xl sm:text-6xl text-transparent bg-clip-text bg-gradient-to-br from-sky-100 via-white to-sky-100">The Ahuja Lab</h1>
    <span class="mt-12 text-center text-xl text-gray-100 leading-relaxed max-w-lg"> Meet the lab that uses a hybrid approach involving Artificial Intelligence and Molecular Biology</span>
    <div class="mt-8 grid grid-cols-1 gap-8 sm:grid-cols-2">
      <a href="#meet-the-pi" class="bg-black ease-in-out duration-300 border border-[#FFFFFF]/30 shadow-sky-300 rounded-full shadow-2xl hover:scale-105 px-5 pt-2 pb-1 text-center text-[#FFFFFF]/75"> Meet Our PI &rarr;</a>
      <a href="#our-interest" class="ease-in-out duration-300 bg-white border border-[#FFFFFF]/30 shadow-sky-300 rounded-full shadow-2xl hover:scale-105 px-5 pt-2 pb-1 text-center text-sky-900"> Our Interest &rarr;</a>
    </div>
  </div>
  <div id="meet-the-pi" class="mt-24 w-[90%] flex flex-col items-start">
    <h2 class="font-extrabold text-3xl sm:text-5xl text-white">Meet our <span class="text-sky-300">Principal Investigator</span></h2>
    <Image
      height="400"
      loading="lazy"
      position="top"
      decoding="async"
      alt="Dr. Gaurav Ahuja"
      width={(1360 * 400) / 1687}
      src="https://a.storyblok.com/f/191355/1360x1687/ce97e2037e/gaurav_edit_2.jpg"
      class="mt-5 text-transparent transform-gpu object-cover rounded transition will-change-auto"
      style={`background-image: url(${blurDataURL}); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;`}
    />
    <span class="mt-8 text-lg text-gray-100/50 leading-relaxed">
      Gaurav is an Associate Professor at the Department of Computational Biology at IIIT-Delhi. He graduated summa cum laude from the University of Cologne, Germany, with a Ph.D. in Natural Sciences. He is a Chemical Biologist with vast experience
      in Cheminformatics and High-throughput screening assays. Gaurav carried out his Post Doctoral work at several renowned institutes, including the Center for Molecular Medicine Cologne, the Max Planck Institute for Ageing, and the Lee Kong Chian
      School of Medicine, Singapore. His lab at IIIT-Delhi utilizes a hybrid and interdisciplinary approach combining Artificial Intelligence (AI), Chemistry, and Biology. Further, his laboratory also develops high-throughput in vivo assays for the
      functional validation of the AI-predictions. The ultimate goal of his laboratory is to uncover the functional importance of endogenous metabolites, in development, health, and diseases. Within few years of its inception, his laboratory
      contributed to establishing the functional link between the chemical and biological world of the cell. Gaurav is a recipient of the prestigious Ramalingaswami Re-entry Fellowship from DBT, India. He is also a member of the International
      Chemical Biology Society.
    </span>
    <span class="mt-8 text-lg font-medium text-white">Current Position</span>
    <span class="mt-3 text-lg text-gray-100/50 leading-relaxed"> Associate Professor at the Department of Computational Biology, Indraprastha Institute of Information Technology-Delhi (IIIT-Delhi). (July, 2019)</span>
    <span class="mt-8 text-lg font-medium text-white">Previous Positions</span>
    <span class="mt-3 text-lg text-gray-100/50 leading-relaxed">Assistant Professor at the Department of Computational Biology, Indraprastha Institute of Information Technology-Delhi (IIIT-Delhi). (July, 2019 to June, 2022)</span>
    <span class="mt-3 text-lg text-gray-100/50 leading-relaxed">Senior Research Fellow (Senior Post Doc) in the Laboratory of Prof. Philip W. Ingham at the Lee Kong Chian School of Medicine, Singapore. (2019)</span>
    <span class="mt-3 text-lg text-gray-100/50 leading-relaxed">
      Post-Doctoral Fellow in the Laboratory of Dr. Leo Kurian at the Center for Molecular Medicine Cologne and guest scientist at Max Planck Institute for Biology of Ageing, Cologne, Germany (2016-2019)
    </span>
    <span class="mt-3 text-lg text-gray-100/50 leading-relaxed">Postdoctoral Fellow (Postdoctoral adviser: Prof. Sigrun Korsching), Institute for Genetics, University at Cologne, Cologne, Germany (2015 – 2016)</span>
    <span class="mt-3 text-lg text-gray-100/50 leading-relaxed">Ph.D. Student (Thesis advisor: Prof. Sigrun Korsching), Institute for Genetics, University of Cologne, Cologne, Germany (2010 – 2015)</span>
  </div>
  <div id="our-interest" class="mt-24 w-[90%] flex flex-col items-start">
    <h2 class="font-extrabold text-3xl sm:text-5xl text-white">Our <span class="text-sky-300">Interest</span></h2>
    <Image
      width="653"
      height="335"
      loading="lazy"
      position="top"
      decoding="async"
      alt="Our Interest"
      src="https://ahuja-lab.in/uploads/OurInterest2.jpg"
      class="mt-8 text-transparent transform-gpu object-cover rounded transition will-change-auto"
      style={`background-image: url(${blurDataURL}); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;`}
    />
    <span class="mt-8 text-lg text-gray-100/50 leading-relaxed">
      Essential cellular behaviors, including those that ensure its survival or homeostasis, are modulated by many intrinsic or extrinsic factors. For the last few decades, efforts have been ongoing to identify these factors, followed by their
      functional characterization, ultimately leading to decoding these complex response mechanisms. Despite years of experimentation involving heating, boiling, freezing, and electroporation of cells, our understanding of how these chemical moieties
      influence vital fundamental cellular processes is far from complete.
    </span>
    <span class="mt-8 text-lg font-medium text-white">Decoding logics: Using Artificial Intelligence & Yeast-based sensors</span>
    <span class="mt-3 text-lg text-gray-100/50 leading-relaxed"
      >Our lab has recently compiled a compendium of the GPCR-drug database and developed a novel language-based Deep Learning architecture to understand the rules of Drug-Target interaction.</span
    >
    <span class="mt-8 text-lg font-medium text-white">Connecting Dots: Linking metabolites to cell-cell communication</span>
    <span class="mt-3 text-lg text-gray-100/50 leading-relaxed"
      >This project leverages the combo of Protein Language Models and cheminformatics to link receptor proteins involved in cell-cell communications to tissue-associated, extracellular metabolic landscape.</span
    >
    <span class="mt-8 text-lg font-medium text-white">Ultimate Response: Decrypting interactions between chemical & biological space</span>
    <span class="mt-3 text-lg text-gray-100/50 leading-relaxed">
      Comprehensive mechanistic insights into biological systems necessitate a thorough evaluation of each node of the underlying multi-dimensional processes and their interdependence. Inspired by Graph Theory Algorithms, we are attempting to dissect
      this highly convulated networks, and validating our computational findings using Yeast-based assays.
    </span>
    <span class="mt-8 text-lg font-medium text-white"> Cellular Ethology: Defining Grammar of Induced Cellular Behavior</span>
    <span class="mt-3 text-lg text-gray-100/50 leading-relaxed">We are presently developing microfluidics-based cell behavior assays to monitor the impact of bioactive compounds on cellular behaviors.</span>
    <span class="mt-8 text-lg font-medium text-white"> Some relevant questions that trigger our laboratory interest include:</span>
    <ul class="mt-4 list-disc space-y-4 text-gray-100/50">
      <li>What genetic or epigenetic factors govern selective OR expression in the malignant cells?</li>
      <li>What are their functional contributions?</li>
      <li>If they impart chemosensory function, what is the triggering stimulus for these ORs within the tumor microenvironment?</li>
      <li>Since multiple ORs are co-expressed within a single malignant cell, then how do the malignant cells manage the highly convoluted downstream pathways and their potential cross-talks?</li>
      <li>If ORs are indeed multifunctional genes in the human genome, then why are a significant proportion of them pseudogenized or under negative selection pressure?</li>
      <li>Which molecular features define the tuning ability (narrowly or broadly tuned) or ligand specificity of the OR?</li>
    </ul>
  </div>
  <div id="our-investors" class="mt-24 w-[90%] flex flex-col items-start">
    <h2 class="font-extrabold text-3xl sm:text-5xl text-white">Our <span class="text-sky-300">Investors</span></h2>
    <div class="mt-8 flex flex-row flex-wrap items-stretch gap-8">
      {
        investors &&
          investors.map((i) => (
            <div class="p-2 bg-white rounded">
              <Image
                fit="cover"
                height="100"
                loading="lazy"
                position="top"
                decoding="async"
                alt="Our Interest"
                src={i.originalURL}
                class="text-transparent bg-white transform-gpu object-cover transition will-change-auto"
                aspectRatio={`${i.originalURL.split('/')[5].split('x')[0]}:${i.originalURL.split('/')[5].split('x')[1]}`}
              />
            </div>
          ))
      }
    </div>
    <span class="mt-8 text-lg text-gray-100/50 leading-relaxed">
      The Ahuja lab is supported by the Ramalingaswami Re-entry Fellowship, a re-entry scheme of the Department of Biotechnology (DBT), Ministry of Science & Technology, Govt. of India, and an Intramural Start-up grant from Indraprastha Institute of
      Information Technology-Delhi (IIIT-Delhi). The lab has also been awarded funding from Science and Engineering Research Board (SERB) for promoting basic research in Science and Engineering.
    </span>
    <h2 class="mt-24 font-extrabold text-3xl sm:text-5xl text-white">Know more about <span class="text-sky-300">The Ahuja Lab</span></h2>
    <div class="mt-8 w-full flex flex-row flex-wrap items-stretch gap-4">
      <a href="/team" class="w-[300px] rounded flex flex-col pt-5 pl-5 border border-white/25 hover:bg-sky-900/50 hover:shadow-sm hover:shadow-white duration-300">
        <span class="text-lg font-medium text-white">Team</span>
        <span class="mt-3 text-lg text-gray-100/50 leading-relaxed pr-5">Meet the magical team who do it all at The Ahuja Lab.</span>
        <Image
          alt="Team"
          fit="cover"
          width="280"
          height="200"
          loading="lazy"
          position="top"
          decoding="async"
          src="https://a.storyblok.com/f/191355/1528x800/0612030169/team.jpg"
          class="mt-8 text-transparent transform-gpu object-cover transition will-change-auto rounded-l-md"
        />
      </a>
      <a href="/publications" class="w-[300px] rounded flex flex-col pt-5 pl-5 border border-white/25 hover:bg-sky-900/50 hover:shadow-sm hover:shadow-white duration-300">
        <span class="text-lg font-medium text-white">Publications</span>
        <span class="mt-3 text-lg text-gray-100/50 leading-relaxed pr-5">Know about our publications at The Ahuja Lab.</span>
        <Image
          fit="cover"
          width="280"
          height="200"
          loading="lazy"
          position="top"
          decoding="async"
          alt="Publications"
          src="https://a.storyblok.com/f/191355/720x302/a04408ef9f/publications.jpg"
          class="mt-8 text-transparent transform-gpu object-cover transition will-change-auto rounded-l-md"
        />
      </a>
      <a href="/projects" class="w-[300px] rounded flex flex-col pt-5 pl-5 border border-white/25 hover:bg-sky-900/50 hover:shadow-sm hover:shadow-white duration-300">
        <span class="text-lg font-medium text-white">Projects</span>
        <span class="mt-3 text-lg text-gray-100/50 leading-relaxed pr-5">Explore our innovation research at The Ahuja Lab.</span>
        <Image
          fit="cover"
          width="280"
          height="200"
          loading="lazy"
          alt="Projects"
          position="top"
          decoding="async"
          src="https://a.storyblok.com/f/191355/626x626/8c439d9058/projects.webp"
          class="mt-8 text-transparent transform-gpu object-cover transition will-change-auto rounded-l-md"
        />
      </a>
      <a href="/activities" class="w-[300px] rounded flex flex-col pt-5 pl-5 border border-white/25 hover:bg-sky-900/50 hover:shadow-sm hover:shadow-white duration-300">
        <span class="text-lg font-medium text-white">Acitivities</span>
        <span class="mt-3 text-lg text-gray-100/50 leading-relaxed pr-5">Sitback and see what we've been enjoying lately.</span>
        <Image
          fit="cover"
          width="280"
          height="200"
          loading="lazy"
          position="top"
          decoding="async"
          alt="Acitivities"
          src="https://a.storyblok.com/f/191355/2048x1536/348f0b947a/p1.jpeg"
          class="mt-8 text-transparent transform-gpu object-cover transition will-change-auto rounded-l-md"
        />
      </a>
    </div>
  </div>
</Layout>
